{% load static %}


<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<title>Hello, world!</title>
</head>

<body>
	<div class="container">

		<h1>THis is filtered page</h1>
		<br>
		{{sem}}

		{{branch}}
	






<div class="container">
	<div class="card-group">
	  <div class="card">
	  <a href="{% url 'specific-page' sem=sem branch=branch type='qp'%}">
		<img src="https://images.unsplash.com/photo-1633613286848-e6f43bbafb8d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8cXVlc3Rpb258ZW58MHx8MHx8&auto=format&fit=crop&w=600&q=60" class="card-img-top" alt="...">
		<div class="card-body">
		  <h5 class="card-title">Previous Year Question Papers</h5>
		  
		</div>
	  </a>
	  </div>
	  <div class="card">
		<a href="{% url 'specific-page' sem=sem branch=branch type='note'%}"><img src="https://images.unsplash.com/photo-1512314889357-e157c22f938d?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=60&raw_url=true&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8bm90ZXN8ZW58MHx8MHx8&auto=format&fit=crop&w=600" class="card-img-top" alt="...">
		<div class="card-body">
		  <h5 class="card-title">Notes</h5>
		  
		  
		</div>
	  </a>
	  </div>
	  <div class="card">
		<a href="{% url 'specific-page' sem=sem branch=branch type='tutorial'%}"><img src="https://images.unsplash.com/photo-1517842645767-c639042777db?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=60&raw_url=true&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8bm90ZXN8ZW58MHx8MHx8&auto=format&fit=crop&w=600" class="card-img-top" alt="...">
		<div class="card-body">
		  <h5 class="card-title">Tutorials</h5>
	
		</div>
	  </a>
	  </div>
	</div>

</div>












	</div>


	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>

</html>